config init
	option stdout 1
	option stderr 1
	option user frps
	option group frps
	option respawn 1

config conf 'common'
        option bind_addr 0.0.0.0
	option bind_port 9090
        option vhost_http_port 10080
        option vhost_https_port 10443
        option dashboard_addr 0.0.0.0
        option dashboard_port 7500
        option dashboard_user dingyi
        option dashboard_pwd 21212121
        option log_level info
        option token 21212121
        option tcp_mux 1
